<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body class="for-side-nav">
    <aside id="side-nav-open" class="for-side-nav">
      <button id="close-menu-button">×</button>
      <nav>
        {{ partial "side-nav-bar" (dict "currentPage" . "pages" (.Site.GetPage (printf "/%s" .Section)).Pages) }}
      </nav>
    </aside>

    <main>
      <h1>
          <button id="menu-button">≡</button>
          {{ .Title }}
      </h1>
      <hr />

      {{ block "main" . }}
      {{ end }}
    </main>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const navbar = document.getElementById('side-nav-open');

        document.getElementById('menu-button').addEventListener('click', function () {
          navbar.classList.add('active');
        });

        document.getElementById('close-menu-button').addEventListener('click', function () {
            navbar.classList.remove('active');
        });
      });
    </script>
  </body>
</html>
